html{
    width: 100%;
    height: 100%;
}

body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-bg-image{
    background-image: url(../images/alex-knight-robot-unsplash.jpg);
    background-size: cover;
    background-position: top;
}